body {
    background-color: #F2955E;
    color: #012340;
}

ul {
    background-color: #F29F05;
    color: #6b1f04;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol {
    background-color: #F29F05;
    color: #6b1f04;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

dt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 6px;
}


dd {
    background-color: #D91604;
    color: #0D0D0D;
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-align: center;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}
img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}
